* {
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2C3E50;
}
nav ul{
    position: relative;
}
nav ul li{
    display: inline-block;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 0;
    display: inline-block;
    position: relative;
}
nav ul li::after {
    content: "";
    position: absolute;
    bottom: 8px; 
    left: 10px;
    width: 0; 
    height: 3px;
    background-color: #FFEB00; 
    transition: width 0.3s ease-in-out;
}


nav ul li:hover::after {
    width: 80%; 
}
a{
    text-decoration: none;    
}

#icon{
    list-style: none;
    color: #F1C40F;
    font-size: 32px;
    margin-right: 20px;
    /* text-transform: uppercase; */
    letter-spacing: 3px;
}

main {
    background-image: linear-gradient(135deg, #2C3E50, #34495E);
    display: flex;
    justify-content: flex-start;
    
    
}
/* main img{
    width: 60%;
    order: 1;
} */

img{
    width: 100px;
}
body{
    background-color: #F7F9FB;
}





